body {
    margin: 0;
}

.navbar {
    background: #1f2937;
    padding: 1em;
}

.navbar .container {
    text-decoration: none;
    display: flex;
    place-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}

nav {
    display: none;
}

nav .mobile-menu {
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

section {
    padding: 5em 2em;
}

.hero {
    background: #1f2937;
}

.hero .container {
    display: flex;
    align-items: center;
}

.left-col {
    text-align: left;
    color: #E5E7EB;
    padding: 5em;
}

.hero-header-txt {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: auto;
}

.subhead {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img {
    align-items: right;
    width: 25%;
}

.sign-up-cta {
    background: #3882F6;
    text-decoration: none;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: .5em;
    padding: 0.5em 2em;
}

.random-info .container {
    text-align: center;
    padding: 25;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.random-info ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 1;
}

.random-info li {
    align-items: center;
    text-align: center;
}

.random-info img {
    width: 50%;
    height: 70%;
    outline: 2px solid #3882F6;
    border-radius: 1em;
}

.random-info p {
    color: rgb(104, 104, 104);
}